@{
    ViewBag.Title = "All Apps";
}
<div id="appList">
    <div class="row">
        <div class="jumbotron col-md-9 col-md-offset-1" style="margin-top: 20px; color: #fff ;background-image: url('../../Content/Images/Indian_Army_Mast.jpg');background-size:cover">
            <text style="font-family:hvdArmy">How many terrorists will you kill this year?</text>
            <button class="btn-lg login-btn" style="background:rgba(59, 89, 152, 1.00);color:white;margin-top:2px;float:right;" onclick="appRedirect('SecretArmyMission')">Try</button>
        </div>
    </div>
</div>
<script src="~/Scripts/custom/app-redirect.js"></script>